{% for flash_message in app.session.flashbag.get('success') %}

  <div class="alert alert-success alert-left-bordered border-success alert-dismissible d-flex align-items-center p-md-4 mb-2 show fade" role="alert">
    <i class="fas fa-check icon-text text-success mr-2"></i>
    <p class="mb-0">
      <strong>Success</strong> {{ flash_message }}
    </p>
    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
      <span>×</span>
    </button>
  </div>

{% endfor %}

{% for flash_message in app.session.flashbag.get('error') %}

    <div class="alert alert-danger alert-left-bordered border-danger alert-dismissible d-flex align-items-center p-md-4 mb-2 show fade" role="alert">
        <i class="fas fa-exclamation-triangle icon-text text-danger mr-2"></i>
        <p class="mb-0">
            <strong>Error</strong> {{ flash_message }}
        </p>
        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
          <span>×</span>
        </button>
    </div>

{% endfor %}